<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Supplier</title>
</head>
<body>
    <div>
        <h1>Delete Supplier</h1>
        <h2>Bạn chắc chắn muốn xóa ?</h2>
        <p>
            <a href="/suppliers">List Supplier</a>
        </p>
        <form th:action="@{/delete-supplier}" th:object="${supplier}" method="post">
                <input th:type="hidden" name="id" th:field="*{id}">
                <table>
                    <tr>
                        <td>Supplier name :</td>
                        <td><input th:value="${supplier.name}"></td>
                    </tr>
                    <tr>
                        <td>Supplier description :</td>
                        <td><input th:value="${supplier.description}"></td>
                    </tr>
                    <tr>
                        <td>Supplier Address :</td>
                        <td><input th:value="${supplier.address}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Delete"></td>
                    </tr>
                </table>
        </form>
    </div>
</body>
</html>