<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
<div>
    <h1>Create Book</h1>
    <p>
        <a href="/books">List Book</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/create-book}" th:object="${book}" method="post">
        <table>
            <tr>
                <td>Book name :</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Book DateOfPurchase :</td>
                <td><input type="text" th:field="*{dateOfPurchase}"></td>
            </tr>
            <tr>
                <td>Book Author :</td>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
            <tr>
                <td>Book price :</td>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
<!--            <tr>-->
<!--                <td>Author :</td>-->
<!--                <td>-->
<!--                    <select th:field="*{author}">-->
<!--                        <option th:each="p : ${author}" th:value="${p.id}" th:text="${p.name}"></option>-->
<!--                    </select>-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>