<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<div>
    <h1>Edit Category</h1>
    <p>
        <a href="/category">List Category</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/edit-category}" th:object="${category}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Category name :</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Category description :</td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
<!--                <td>Province:</td>-->
<!--                <td>-->
<!--                    <select name="supplier">-->
<!--                        <option th:each="p : ${suppliers}"-->
<!--                                th:value="${p.id}"-->
<!--                                th:text="${p.name}"-->
<!--                                th:selected="(${p.id} == *{supplier.id})"></option>-->
<!--                    </select>-->
<!--                </td>-->
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>